.main-component {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  /* background: coral; */
}

.main1 {
  width: 90%;
  height: 90%;
  background: whitesmoke;
}
