.App {
  text-align: center;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  position: relative;
}

.canvas {
  position: relative;
  top: 75px;
  /* background: whitesmoke; */
  /* height: 100vh;
  width: 100%; */
  padding: 20px;
  margin: 20px;
}
.routes-components {
  /* display: flex; */
  /* justify-content: center; */
  /* width: 90vw; */
}

@media (min-width: 768px) {
  .routes-components {
    /* width: 600px; */
    /* padding: 20px; */
    display: flex;
    justify-content: center;
  }
}
