.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  position: relative;
}

.canvas {
  position: relative;
  top: 75px;
  max-width: 1000px;
  /* background: whitesmoke; */
  /* height: 100vh;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}
.routes-components {
  width: 100%;
  display: flex;
  top: 75px;
  justify-content: center;
}

.component-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.L5R-routes {
  width: 80%;
  text-align: left;
}

.card-container {
}

.card-container img {
  height: 50px;
};

/* .ring {
  background: black;
  color: white;
  border-radius: 50%;
  border: solid black 2px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.ring p {
  margin: 0;
}

.rings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-ring {
  position: relative;
  bottom: 35px;
}

.push div {
  margin: 0 30px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.tracker {
  display: flex;
  flex-direction: row;
}

.tracker-color {
  color: red;
  border-bottom: 2px solid red;
  height: 35px;
}

.untracked {
  height: 35px;
}

.left-align {
  align-items: flex-start;
  text-align: left;
}

.checklist {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checklist input {
  margin-right: 15px;
}

.journey-button {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.journey-button button {
  width: 100px;
  height: 30px;
  position: relative;
  bottom: -50px;
}

.carousel {
  text-align: justify;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
  height: 450px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
}

.carousel-buttons button {
  height: 30px;
  width: 100px;
  position: relative;
  margin: 0 5px 0 5px;
};

.card-image {
  max-width: 50px;
};

.ring {
  background: black;
  color: white;
  border-radius: 50%;
  border: solid black 2px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* @media (min-width: 768px) {
  .routes-components {
    width: 600px;
    display: flex;
    justify-content: center;
  }
} */
